#MetaboliteResults {
    padding: 4px;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    font-size: 0.7em;
}
#metabolite-results-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    margin: 10px;
}

#metabolite-infos-table tr td{
    padding-left: 8px;
    font-size: 1em;
}

#metabolite-json-table td:first-child {
    font-weight: bold;
}

#metabolite-json-table tr:first-child {
    font-weight: bold;
}

#metabolite-results-form select {
    font-size: 0.9em;
    font-weight: bold;
}
#metabolite-results-form input {
    width: 3em;
}
#metabolite-results-radio {
    text-align: center;
    margin: 5px;
    font-weight: bold;
    
}


#metabolite-results-content {
    overflow: scroll;
    flex-grow: 1;
}

#MetaboliteResults .json-to-table tr:first-child td {
    font-weight: bold;
    text-align: center;
}
#MetaboliteResults .json-to-table td:first-child {
    font-weight: bold;    
}

#MetaboliteResults .json-to-table td{
    font-size: 1.2em;
}