#ReactionResults {
    padding: 4px;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    font-size: 0.7em;
}
#reaction-results-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    margin: 10px;
}
#reaction-results-infos td{
    padding-left: 4px;
    font-size: 0.9em;
}
#reaction-results-form select {
    font-size: 0.9em;
    font-weight: bold;
}
#reaction-results-form input {
    width: 3em;
}
#reaction-results-radio {
    text-align: center;
    margin: 5px;
    font-weight: bold;
}