#ScenElement {
    font-size: 0.7em;
    border: 1px solid black;
    margin: 20px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#ScenElement:hover {
    /* box-shadow: none; */
    background-color: lightgray;
}

#ScenElement.selected {
    background-color: rgb(215, 226, 230);
    /* color: wheat; */
}

#ScenElement>div {
    margin-top: 5px;
}

#scen-element-title {
    border-bottom: 1px solid black;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
}

#scen-element-remove {
    color: red;
    padding-right: 5px;
}

#ScenElement .modif-reaction {
    font-size: 0.9em;
    margin: 3px 0 0 20px;
}

#ScenElement .modif-reaction:before {
    content: "✔ ";
}
