#ScenElement {
    font-size: 0.7em;
    border: 2px solid black;
    margin: 4px;
    border-radius: 5px;
    background-color: lightblue;
}

#scen-element-first-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid darkblue;
    background-color: darkblue;
    color: white;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
    font-size: 1.2em;
}

#scen-element-second-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

#scen-element-reactions {
    padding: 4px;
}
