#App {
    display: flex;
    flex-direction: column;
}
#Navbar {
    flex-grow: 0%;
    height: 8%;
    border: 2px solid black;
    flex-grow: 0;
}
#App-content{
    display: flex;
    flex-grow: 0;
    overflow: hidden;
}
#ModelDescription {
    flex: 0 0 59%;
}
#ScenOptions {
    border: 2px solid red;
    flex: 0 0 40%;
    overflow: hidden;
}