body {
    color: rgb(65, 65, 65);
}
#App {
    display: flex;
    flex-direction: column;
    background-color: gray;
    font-size: 1.5em;
    /* background-color: gainsboro; */
}
#Navbar {
    flex-grow: 0%;
    height: 8%;
    border-bottom: 1px solid black;
    flex-grow: 0;
    background-color: rgb(6, 50, 63);
    color: wheat;
}
#App-content{
    display: flex;
    flex-grow: 0;
    overflow: hidden;
    height: 100%;
}
#ModelDescription {
    flex: 0 0 69%;
    border: 2px solid darkred;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#ModelForm {
    margin: 2px;
    padding: 4px;
    padding-bottom: 8px;
    /* border-bottom: 1px solid gray; */
}
#ScenOptions {
    flex: 0 0 28%;
    overflow: hidden;
    padding: 4px;
    border: 2px solid darkred;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 3px;  
}

#ModelDescription::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

#results-left {
    display: flex;
    flex-direction: column;
}

#MetabolicMap {
    border: 2px solid darkred;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 3px;
    width: 70%;
    padding: 2px;
}

#ReactionResults {
    border: 2px solid darkred;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 3px;
    padding: 2px;
    /* flex-grow: 1; */
    height: 50%

}

#MetaboliteResults {
    border: 2px solid darkred;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 3px; 
    padding: 2px;
    /* flex-grow: 1;  */
    height: 50%;
}

#results-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 4px solid red; */
    height: 100%;
    width: 30%;
}

